[submodule "template-react"]
	path = template-react
	url = https://github.com/felipe-sant/template-react.git
[submodule "template-typescript"]
	path = template-typescript
	url = https://github.com/felipe-sant/template-typescript.git
[submodule "template-python"]
	path = template-python
	url = https://github.com/felipe-sant/template-python.git
[submodule "template-react-with-backend-connection"]
	path = template-react-with-backend-connection
	url = https://github.com/felipe-sant/template-react-with-backend-connection.git
[submodule "template-react-with-redux"]
	path = template-react-with-redux
	url = https://github.com/felipe-sant/template-react-with-redux.git
[submodule "template-express"]
	path = template-express
	url = https://github.com/felipe-sant/template-express.git
[submodule "template-express-with-documentation"]
	path = template-express-with-documentation
	url = https://github.com/felipe-sant/template-express-with-documentation.git
[submodule "template-express-with-unit-test"]
	path = template-express-with-unit-test
	url = https://github.com/felipe-sant/template-express-with-unit-test.git
[submodule "template-express-with-mongodb"]
	path = template-express-with-mongodb
	url = https://github.com/felipe-sant/template-express-with-mongodb.git
